<?xml version="1.0" encoding="UTF-8"?>

<suite name="AutomationSuite" parallel="methods" thread-count="2">
    
    <test name="RegressionTests">
        <classes>
            <class name="HybridJsonSelFrameTest.JsonSelTestSat.Deserialization"/>
            <class name="TestFileJson.JsonTest"/>
        </classes>
    </test>

</suite>